# Stuff you dont need to see (just host it if you want to see)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Who cares
node_modules
dist
dist-ssr
*.local

# Stuff I REALLY dont care about
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts
